<div class="field">
  <%= f.label :company_name %><br />
  <%= f.text_field :company_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :first_name_of_representative %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name_of_representative %><br />
  <%= f.text_field :last_name %>
</div>
