<div class="field">
  <%= f.label :birth_date %><br />
  <%= f.text_field :birth_date %><br />
  <span>Your age will not be visible</span>
</div>

<div class="field">
  <%= f.label :gender %><br />
  <%= f.text_field :gender %>
</div>

<div class="field">
  <%= f.label :education %><br />
  <%= f.text_field :education %>
</div>

<div class="field">
  <%= f.label :availability %><br />
  <%= f.text_field :availability %>
</div>

<div class="field">
  <%= f.label :pay_rate %><br />
  <%= f.text_field :pay_rate %>
</div>
