<div class="row">
  <div class="col-sm-12">
    <h2>Sign up</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <!-- name info -->

      <div>
        <%= render partial: 'basic_info', locals: {f: f} %>
      </div>

      <!-- select the type of user -->

      <div class="field form-group">
        <%= f.label :type %><br />
        <%= f.select :type, options_for_select(%w[Freelancer Employer]), {}, class: "form-control" %>
      </div><br />

      <!-- render either employer or freelancer partial -->

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
