<div class="row">
  <div class="col-sm-12">
    <h2 class="thin">Employers</h2>
  </div>
</div>

<!-- search form for finding employers -->

<div class="row">
  <div class="col-sm-12">
    <h3>search</h3>
    <%= render 'search' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover table-responsive">

      <!-- table header -->

      <tr>
        <th>employer</th>
        <th>location</th>
        <th>business</th>
        <th>field</th>
      </tr>

      <!-- loop for creating overview of employers -->

      <% @employers.each do |employer| %>
        <tr>
          <td><%= link_to employer.company_name, employer_path(employer.id) %></td>
          <td><%= employer.location %></td>
          <td><%= employer.business %></td>
          <td><%= employer.field %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
