<div class="row">
  <div class="col-xs-12">
    <h2>Employers</h2>
  </div>
</div>

<!-- search form for finding employers -->
<%= render 'search' %>

<div class="row">
  <div class="col-xs-12">
    <table class="table">

      <!-- table header -->

      <tr>
        <th>employer</th>
        <th>location</th>
        <th>business</th>
        <th>field</th>
      </tr>

      <!-- loop for creating overview of employers -->

      <% @employers.each do |employer| %>
        <tr>
          <td><%= link_to employer.company_name, employer_path(employer.id) %></td>
          <td><%= employer.location %></td>
          <td><%= employer.business %></td>
          <td><%= employer.field %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
