<h2>Employers</h2>

<%= render 'search' %>

<% @employers.each do |employer| %>

<p><%= link_to employer.company_name, employer_path(employer.id) %></p>
<p><%= employer.location %></p>
<p><%= employer.business %></p>
<p><%= employer.field %></p>

<% end %>

<%= will_paginate %>
