<div class="container-fluid account-bar">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline pull-right">
      <!-- user logged in -->
      <% if user_signed_in? %>
        <li><%= link_to conversations_path do %>
          <i class="fa fa-envelope text-center" aria-hidden="true"><br>messages</i>
        <% end %></li>
        <li><%= link_to edit_user_registration_path do %>
          <i class="fa fa-user text-center" aria-hidden="true"><br>account</i>
        <% end %></li>

        <% else %>
        <li><%= link_to new_user_session_path do %>
          <i class="fa fa-sign-in text-center" aria-hidden="true"><br>login</i>
        <% end %></li>
        <li><%= link_to new_user_registration_path do %>
          <i class="fa fa-user text-center" aria-hidden="true"><br>sign-up</i>
        <% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-times text-center" aria-hidden="true"><br>log-out</i>
        <% end %></li>

      <% end %>
      </ul>
    </div>
  </div>
</div>
