<!DOCTYPE html>
<html>
<head>
  <title>Interimagenda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- renders the header template -->

<nav class="grey darken-3" role="navigation">
  <div class="nav-wrapper container">
    <%= render "layouts/header" %>
  </div>
</nav>

<!-- renders the main content of the page -->

<main class="container">
  <div class="center">

  <%= yield %>

  </div>
</main>

<!-- renders the footer of the page -->

<footer class="container">
  <%= render "layouts/footer" %>
</footer>

</body>
</html>
